*{
  margin:0;
  padding: 0;
}
header{
  position: absolute;
  width:100%;
  height: 15vh;
  background:white;
  color: black;
}
header h2{
  position: absolute;
  margin-top: 40px;
  margin-left: 90px;
}

header p{
  position: absolute;
  margin-top: 65px;
  margin-left: 130px;
}
header img{
  position: absolute;
  margin-top:5px;
  margin-left: 5px;
  width: 5%;
  border-radius:20px;
}

footer{
  text-align: center;
  position: absolute;
  width:100%;
  height: 10vh;
  background: black;
  color: white;
  bottom: 0;
}
.sec1{
  width: 100%;
  position:absolute;
  margin-top: 113px;
  height: 99vh;
  background:black;

}

.parent{
  display: flex;
}

.child{
  border: 2px solid black;
  margin: 2px;
  width:20%;
  border-radius:5px;
  background: black;
  color:yellow;
}

.child img{
  padding: 2px;
  width: 99%;
  border-radius: 5px;
}
#veg img{
  width: 80%;
}
h1,h2{
  text-align:center;
  color:yellow;

}
.nav{
  position: absolute;
  width: 100%;
}
.nav a{
  position: relative;
  left: 80%;
  top: 45px;
  color:black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.2em;
}
a:hover{
  background: green;
}
#black{
  color:black;
}
